Labs/Lab2/src/main/resources/devicesSchema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="devices">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="device" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="name"/>
              <xs:element type="xs:string" name="countryOfOrigin"/>
              <xs:element type="xs:short" name="price"/>
              <xs:element name="deviceDetails">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:boolean" name="isPeripheral"/>
                    <xs:element type="xs:byte" name="energyConsumption"/>
                    <xs:element type="xs:boolean" name="hasCooler"/>
                    <xs:element type="xs:string" name="deviceFamily"/>
                    <xs:element name="ports">
                      <xs:complexType mixed="true">
                        <xs:sequence>
                          <xs:element type="xs:string" name="port" maxOccurs="unbounded" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:boolean" name="isCritical"/>
            </xs:sequence>
            <xs:attribute type="xs:byte" name="id" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>